# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Byte-code files
*.pyc
__pycache__/

# Database
db.sqlite3
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# IDE-specific files (e.g., Visual Studio Code, PyCharm)
.vscode/
.idea/

# Django specific
local_settings.py  # If you use a separate file for local settings (highly recommended for SECRET_KEY)
media/             # User uploaded media
static_collected/  # If you collect static files
*.log              # Log files

# Operating System files
.DS_Store          # macOS
Thumbs.db          # Windows

# Environment variables file (if you use .env for sensitive data)
.env